

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Header met Grid */
header {
    background-color: #6a0025;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    justify-items: center;
}

#featured {
    background-color: #fff;
    padding: 40px 20px;
}

h1 {
    margin-bottom: 10px;
    text-align: left;
}

.featured-content {
    display: grid;
    grid-template-columns: 1fr; /* Default voor mobiele weergave */
    gap: 10px;
}

.featured-content img {
    width: 100%;
    border-radius: 8px;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #6a0025;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
}

.btnn a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#webinars {
    background-color: #fff;
    padding: 40px 20px;
}



#webinars1 {
    background-color: #f2d1dd;
    padding: 40px 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.webinar-list {
    display: grid;
    grid-template-columns: 1fr; /* Default voor mobiele weergave */
    gap: 10px;
}

.webinar {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

#contouring {
    background-color: #fff;
    padding: 40px 20px;
}

.contouring-list {
    display: grid;
    grid-template-columns: 1fr; /* Default voor mobiele weergave */
    gap: 10px;
}

.contour {
    background-color: #f2d1dd;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #6a0025;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* Media Queries voor grotere schermen */
@media (min-width: 768px) {
    .featured-content {
        grid-template-columns: 2fr 1fr;
    }

    .webinar-list,
    .contouring-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .webinar-list,
    .contouring-list {
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        grid-template-columns: 1fr 1fr;
    }
}


